.row.header-row
  .right
    .button.round
      = link_to 'New Collection', new_collection_path
      %i.foundicon-plus
  %h1
    .large-8
      Listing collections

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @entries.each do |collection|
    %tr
      %td= collection.name
      %td= link_to 'Show', collection
      %td= link_to 'Edit', edit_collection_path(collection)
      %td= link_to 'Destroy', collection, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

