- url = @entry.persisted? ? edit_collection_entry_path(@collection, @entry) : collection_entries_path(@collection)
= simple_form_for(@entry, url: url) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :tag_list

  .form-actions
    = f.button :submit
