%p#notice= notice

%p
  %b Name:
  = @entry.name
%p
  %b Tags:
  = @entry.tag_list_links

= link_to 'Edit', edit_collection_entry_path(@collection, @entry)
\|
= link_to 'Back', collection_entries_path(@collection)
